__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.venv
venv
.git
.gitignore
.vscode
.idea
*.md
.pytest_cache
tests
prototypes
test_data
data/samples
.python-version
uv
Makefile
docker
pyproject.toml
